

<nav class="navbar navbar-light bg-faded">
        <nav class="page-nav">
            <ul class="nav navbar-nav">

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item active">
                    <a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('guestbook_einträgezeigen') }}">Einträge anzeigen</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('guestbook_logged') }}">Eintrag schreiben</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('user_registration') }}">Registrieren</a></li>
                {% endif %}




                </ul>
        </nav>
</nav>
