
{% include '::basic.html.twig' %}

{% include '::navigation.html.twig' %}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Nachricht</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}


        <tr>
            <td class="hidden-xl-down">{{ post.getId }}</td>
            <td>{{ post.getName }}</td>
            <td>{{ post.getMail }}</td>
            <td>{{ post.getNachricht }}</td>
            <td><a class="btn btn-danger red btn-xs" data-toggle="modal" data-target="#confirm-modal{{ post.id }}">Löschen</a>
            </td>
            <td><a class="btn btn-success green btn-xs" href="{{path('post_edit', {'id' : post.id})}}">Ändern</a>
            </td>


            <div class="modal fade confirm-modal" id="confirm-modal{{ post.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            Sind Sie sicher, <br>dass Sie diesen Eintrag löschen wollen?
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForms[loop.index-1]) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
                            <input type="submit" class="btn btn-primary" value="Ja">
                            {{ form_end(deleteForms[loop.index-1]) }}
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}
    </tbody>
    </table>



}
