<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% include '::basic.html.twig' %}
    <script type="text/javascript" src="{{ asset('lib/Javascript/Sort.js') }}"></script>
</head>
{% include '::navigation-loggedin.html.twig' %}

<table class="table sortierbar">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Nachricht</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}


        <tr>
            <td class="hidden-xl-down">{{ post.getId }}</td>
            <td>{{ post.getName }}</td>
            <td>{{ post.getMail }}</td>
            <td>{{ post.getNachricht }}</td>
            <td><a class="btn btn-danger red btn-xs" data-toggle="modal" data-target="#confirm-modal{{ post.id }}">Löschen</a>
            </td>
            <td><a class="btn btn-success green btn-xs" href="{{path('post_edit', {'id' : post.id})}}">Ändern</a>
            </td>


            <div class="modal fade confirm-modal" id="confirm-modal{{ post.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            Sind Sie sicher, <br>dass Sie diesen Eintrag löschen wollen?
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForms[loop.index-1]) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
                            <input type="submit" class="btn btn-primary" value="Ja">
                            {{ form_end(deleteForms[loop.index-1]) }}
                        </div>
                    </div>
                </div>
            </div>

            {#<div class="modal fade" id="exampleModal{{ event.id }}" tabindex="-1" role="dialog">#}
                {#<div class="modal-dialog" role="document">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                            {#<h4 class="modal-title" id="exampleModalLabel">Nachricht bearbeiten</h4>#}
                        {#</div>#}
                        {#<div class="modal-body">#}
                            {#<form>#}
                                {#<div class="form-group">#}
                                    {#<label for="recipient-name" class="control-label">Name</label>#}
                                    {#<input type="text" class="form-control" id="recipient-name" value="{{ event.name }}">#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="message-text" class="control-label">E-Mail</label>#}
                                    {#<textarea class="form-control" id="message-text">{{ event.Mail }}</textarea>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="message-text" class="control-label">Nachricht</label>#}
                                    {#<textarea class="form-control" id="message-text">{{ event.Nachricht }}</textarea>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                        {#<div class="modal-footer">#}
                            {#<button type="submit" class="btn btn-primary">Update</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</tr>#}


    {% endfor %}
    </tbody>
    </table>


